 *, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

body { 
  margin: 0;
}

header {
  background-color: #2F2235;
  color: white;
  padding: 8px 70px;
}

h2 {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 10px;
}

p {
  line-height: 1.35;
  margin-bottom: 10px;
  font-size: 18px;
}

.section-header {
  margin: 40px 0;
  text-align: center;
}

.header-name {
  padding: 4px 10px 4px 0;
  float: right;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion {
  background-color: #ccc;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #fff;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 0;
}

.active,
.accordion:hover {
  background-color: #F2F2F2;
  border: none;
  border-bottom: none;
}

.main-content-container {
  border: 1px solid #D1D2D3;
}

.panel {
  background-color: white;
  display: block;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accord-main-content {
  padding: 10px;
}

.title-party {
  color: #34D1D1;
}

.accord-photo {
  width: 100%;
}

.section-name {
  font-weight: 300;
  display: inline-block;
  margin: 0 auto;
}

.divider {
  height: 1px;
  width: 20%;
  border-bottom: 1px solid #D1D2D3;
  margin: 0 auto;
  display: block;
  border-collapse: collapse;
}

.accord-content-divider {
  width: 100%;
  margin: 10px 0;
}

.display-none {
  display: none;
}

.view-code-btn {
  background-color: #3F3244;
  border-radius: 0;
  color: #fff;
  padding: 10px 30px;
  width: 140px;
  margin-top: 20px;
}

@media screen and (min-width: 750px) {

  .accordion {
    order: 1;
    width: 25%;
    position: absolute;
  }

  .active, 
  .accordion:hover {
    background-color: #ffffff;
  }

  .panel {
    order: 2;
    display: flex;
    padding: 10px;
  }

  .main-content-container {
    position: relative;
  }

  #ac2 {
    left: 25%;
  }

  #ac3 {
    left: 50%;
  }

  #ac4 {
    left: 75%;
  }

  .accord-photo {
    height: 100%;
    max-width: 36%;
    justify-content: center;
    display: inline-block;
    max-height: 500px;
    margin-top: 60px;
  }

  .accord-main-content {
    display: inline-block;
    width: 66%;
    padding: 50px 50px 20px 50px;
    margin-top: 30px;
  }

  .divider {
    height: 1px;
    width: 80%;
    border-bottom: 1px solid #D1D2D3;
    margin: 0 auto;
    display: block;
    border-collapse: collapse;
  }

  .display-none {
    display: none;
  }

}

