 *, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 70px;
}

body { 
  margin: 0;
}

header {
  background-color: #2F2235;
  color: white;
  padding: 8px 70px;
}

h2 {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 10px;
}

p {
  line-height: 1.35;
  margin-bottom: 10px;
  font-size: 18px;
}

.main-content-container {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: none;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  /* padding: 0 18px; */
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.title-party {
  color: #34D1D1;
}

.accord-photo {
  width: 100%;
}

.section-name {
  font-weight: 300;
  display: inline-block;
  margin: 0 auto;
}

.divider {
  height: 1px;
  width: 82%;
  border-bottom: 1px solid black;
  margin: 0 auto;
  display: inline-block;
  border-collapse: collapse;
  vertical-align: middle;
}

@media screen and (min-width: 750px) {

  body {
    background-color: magenta;
  }

  .accordion {
    order: 1;
    width: 25%;
    position: absolute;
  }

  .panel {
    order: 2;
    margin-top: 56px;
  }

  .main-content-container {
    position: relative;
  }

  #ac2 {
    left: 25%;
  }

  #ac3 {
    left: 50%;
  }

  #ac4 {
    left: 75%;
  }

  .accord-photo {
    width: 32%;
    justify-content: center;
    display: inline-block;
    max-height: 400px;
    /* margin-top: 120px; */
  }

  .accord-main-content {
    display: inline-block;
    width: 66%;
    text-align: ;
    /* background-color: magenta; */
    padding: 50px;
  }

}


/*


.header-name {
  padding: 4px 10px 4px 0;
  float: right;
}





.section-header {
  margin: 50px 0;
}

++++++++Accordion Tab Styling+++++++++++

.accord-tabs-container {
  display: flex;
  border-collapse: collapse;
}



.accord-tab {
  height: 60px;
  display: inline-block;
  width: 25%;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #FFFFFF;
  background-color: #F2F2F2;
}

.accord-tab:last-of-type {
  border-right: none;
}

.accord-tab-selected {
  border: 1px solid #666666;
  border-bottom: none;
  background-color: #FFFFFF;  
}

.accord-main {
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  padding: 20px;
  vertical-align: middle;
  display: flex;
}

.accord-tab-selected#acTab4 {
  border-right: 1px solid #666666;
}

++++++ card styling +++++++++

.accord-photo {
  width: 32%;
  justify-content: center;
  display: inline-block;
  max-height: 400px;  
}

.accord-main-content {
  display: inline-block;
  width: 66%;
  text-align:;
  padding: 50px;
}

.accord-content-divider {
  width: 100%;
}

++++++++DISPLAY NONE!!!!++++++++++

.display-none {
  display: none;
} */